// footer.scss
// 注意开启watch sass功能
#footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    >div{
        margin-bottom: 10px;
        >a{
            color: white;
        }
    }
    >span{
        font-size: 12px;
    }
}