* {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.bsd-frame {
  position: fixed;
  transform-origin: left top;
}
.login-bg {
  width: 100%;
  height: 100%;
  background-image: url("../../static/images/login-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.contain-box {
  width: 924px;
  height: 561px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-box {
  width: 499px;
  height: 63px;
}
.title-box .title-box-img {
  width: 100%;
  height: 100%;
}
.little-title {
  width: 100%;
  height: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  width: 924px;
  height: 442px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.form-box .form-box-img {
  width: 924px;
  height: 442px;
  position: absolute;
  top: 0;
  left: 0;
}
.code {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;
}
.code-title {
  width: 100%;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Microsoft YaHei-Bold, Microsoft YaHei;
  font-weight: 700;
  color: #ffffff;
}
.code-img {
  width: 100%;
  height: 173px;
  background-image: url("../../static/images/code.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 22px 0 13px 0;
}
.code-tip {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.code-tip .p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #608bb9;
}
.line {
  width: 1px;
  height: 257px;
  margin: 0 66px;
  background: #09316f;
}
.form {
  width: 337px;
  height: 257px;
  z-index: 10000;
}
.form-title {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 22px;
  font-family: Microsoft YaHei-Bold, Microsoft YaHei;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid #09316f;
  margin-bottom: 30px;
}
.form-box .form .input-box {
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #15356a;
}
.account {
  width: 100%;
  height: 100%;
  background-color: #15356a;
  background-image: url("../images/icon-people.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 17px;
  font-size: 14px;
  border: none;
  padding-left: 50px;
  color: #fff;
}
.psd {
  width: 100%;
  height: 100%;
  background-color: #15356a;
  background-image: url(" ../images/icon-lock.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 17px;
  font-size: 14px;
  border: none;
  padding-left: 50px;
  color: #fff;
}
.login-btn {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #000000;
  background: #3dd9ff;
  border: none;
  cursor: pointer;
}
