#main {
    background-color: #fae8c8;
    height: calc(100vh );
    display: flex;
    // align-items: center;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
  
    > div {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 30px 100px;
      border-radius: 10px;
      align-items: center;
  
      > h2 {
        margin-bottom: 20px;
      }
  
      > button {
        background-color: var(--color-primary);
        color: white;
        width: 120px;
        line-height: 34px;
        font-size: 18px;
        border-radius: 4px;
        margin-top: 20px;
      }
  
      > .agree {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        > a {
          font-size: 1.1em;
          color: var(--color-primary);
          margin-left: 10px;
        }
      }
  
      > .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        height: 60px;
        // background-color: red;
  
        > span {
          font-size: 13px;
          display: none;

          &.err {
            color: red;
          }
          &.ok {
            color: green;
          }
    
        }
  
        
        > input {
          border: 1px solid gray;
          border-radius: 4px;
          padding: 10px 20px;
          font-size: 18px;
          width: 350px;
          transition: 0.2s;

          &.focus{
                border-color: #2e58ff;
            }
          &.err{
            border-color: red;
          }
        }
      }
    }
  }
  