#main{
    width: var(--container-width);
    margin: 0 auto;

    >#sort{
        display: flex;
        margin: 10px 0;

        button{
            font-size: 18px;

            &.active{
                color: orange;
            }
        }
    }
    >#content{
        >ul{
            >li{
                display: flex;
                padding: 5px 0;
                margin-bottom: 10px;
                transition: 0.2s;
                cursor: pointer;
                &:hover{
                    background-color: #eee;
                }
                >img{
                    width: 120px;
                    height: 120px;
                    border-radius: 8px;
                    margin-right: 10px;
                }
                >div{
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >b{
                        color: red;
                        font-size: 1.3em;
                    }
                }
            }
        }
        >.pager{
            display: flex;
            padding: 20px;
            justify-content: center;
            >button{
                border: 1px solid #333;
                border-radius: 4px;
                line-height: 40px;
                padding: 0 12px;
                margin: 0 3px;

                &.active{
                    background-color: orange;
                    color: white;
                }
                &.disabled{
                    pointer-events: none;
                    color: #999;
                    border-color: #999;
                }
                
            }
        }
    }  
}